footer {
    font-family: $font-branding-primary;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: $color-bitcoinOrange;
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

footer .left-footer ul {
    font-size: $fs-small;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

footer .left-footer li {
    margin: 10px 0;
}

footer .left-footer a {
    text-decoration: none;
    color: $color-justWhite;
}